@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 70px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/Picture\ →\ Homepage-Model-3-Desktop-NA.jpg\ \(5\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
}

.li-1 {
    list-style: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.8px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-1 {
    display: flex;
    align-items: center;
    margin-left: 233px;
    gap: 40px;
}

.btn {
    text-decoration: none;
    padding: 12px 57px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.8px;
    border: none;
    margin-left: 282px;
}

.h1-1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.6px;
    margin-bottom: 41px;
}

.box-3 {
    padding-top: 309px;
   text-align: center;
   
}

.p1-1 {
    margin: 0 auto;
    width: 302px;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 53px;
}

.btn-2 {
    text-decoration: none;
    padding: 12px 96px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.8px;
    border-radius: 4px;
    border: 3px solid #FFF;
}